<?xml version="1.0"?>
<launch>
    <arg name="input" default="/carla/ego_vehicle/lidar" />
    <arg name="output" default="/carla/ego_vehicle/scan" />

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="$(arg input)"/>
        <remap from="scan" to="$(arg output)"/>
        <rosparam>
            # with input from: https://github.com/hiwad-aziz/carla_gmapping/blob/main/pcl_to_ls.launch
            target_frame: odom
            transform_tolerance: 0.01
            min_height: 0.2
            max_height: 1.2
            
            angle_min: -3.14159
            angle_max: 3.14159
            angle_increment: 0.0087
            scan_time: 0.3333
            range_min: 0.45
            range_max: 50.0
            use_inf: false
            
            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>

    </node>

</launch>
